@charset "UTF-8";

.base{box-sizing: border-box;}

.color{color: #fff;font-size: 13px;}
.colorGreen{composes: color;background-color: #1abcb0;}
.colorGreen:hover{background-color: #16a096;}
.colorPurple{composes: color;background-color: #756ed5;}
.colorPurple:hover{background-color: #645ebe;}
.colorBlue{composes: color;background-color: #28b5f2;}
.colorBlue:hover{background-color: #1f9dd3;}
.colorRed{composes: color;background-color: #e10098;}
.colorRed:hover{background-color: #c00082;}
.disabled{background-color: #d8e1e5; color: #9bafba;cursor: not-allowed;}
.disabled:hover{background-color: #d8e1e5; color: #9bafba;cursor: not-allowed;box-shadow: none;}

.button{composes: base;outline: none;vertical-align: middle;}
.prodSize{min-width: 72px;height: 35px;line-height: 35px;border-radius: 3px;border: none;padding: 0 15px;text-align: center;}

.icon{width: 16px;height: 16px;display: inline-block;font-style: normal;margin-right: 6px;vertical-align: bottom;}
.prodIconBtn{height: 32px;border: 1px solid #9eb1bc;background-color: #fff;border-radius: 3px;padding: 0 15px;color: #1d396b;}
.prodIconBtn:hover{background-color: #fbfeff;box-shadow:0 2px 5px #ddd;}
.iconDisabled,.iconDisabled:hover{background-color: #fbfeff;color: #1d396b;cursor: not-allowed;box-shadow:0 2px 5px #ddd inset;}

.tstIcon{background-color: purple;}
