@charset "UTF-8";

.base *{box-sizing: border-box;margin: 0;padding: 0;}
.lsn{list-style: none;}


.color{color: #fff;font-size: 13px;}

.colorGreen{composes: color;background-color: #1abcb0;}
.colorGreenLi:hover{background-color: #1abcb0;}
.colorGreen:hover{background-color: #16a096;}
.colorGreen:focus{background-color: #16a096;}

.colorPurple{composes: color;background-color: #756ed5;}
.colorPurpleLi:hover{background-color: #756ed5;}

.colorPurple:hover{background-color: #645ebe;}
.colorPurple:focus{background-color: #645ebe;}

.colorBlue{composes: color;background-color: #28b5f2;}
.colorBlueLi:hover{background-color: #28b5f2;}

.colorBlue:hover{background-color: #1f9dd3;}
.colorBlue:focus{background-color: #1f9dd3;}

.colorRed{composes: color;background-color: #e10098;}
.colorRedLi:hover{background-color: #e10098;}

.colorRed:hover{background-color: #c00082;}
.colorRed:focus{background-color: #c00082;}

.disabled{background-color: #d8e1e5; color: #9bafba;cursor: not-allowed;}
.disabled:hover{background-color: #d8e1e5; color: #9bafba;cursor: not-allowed;box-shadow: none;}
.disabled:focus{background-color: #d8e1e5; color: #9bafba;cursor: not-allowed;box-shadow: none;}

.dropdownSize{height: 40px;line-height: 40px;padding: 0 15px;border: none;border-radius: 3px;outline: none;vertical-align: middle;}
.icon{width: 0;height: 0;display: inline-block;border: 5px solid #fff;border-color: #fff transparent transparent transparent;margin-left: 6px;vertical-align: text-bottom;}
.disabledIcon{border-color: #9bafba transparent transparent transparent;}

.ul{padding: 5px;display: inline-block;background-color: #fff;box-shadow: 2px 2px 5px #ddd, 0 -2px 5px #ddd;position: absolute;right: 0;top: 8px;max-height: 200px;overflow: auto;}
.li{height: 30px;line-height: 30px;min-width: 155px;color: #3b4563;padding: 0 20px;border-radius: 3px;cursor: default;font-size: 13px;}
.li + .li{margin: 2px 0;}
.li:hover{color: #fff;}

.dropdownParent{position: relative;display: inline-block;}
.arrowUp{display: inline-block;width: 0;height: 0;border: 4px solid;border-color: transparent transparent #fff transparent;position: absolute;top: 0;right: 15px;}
.posR{position: relative;display: none;}
