@charset "UTF-8";
.editorWrap{border: 1px solid #9db1bc;width: 960px;margin: 0 auto;box-sizing: border-box;}
.editorTool{height: 90px;background-color: #080a0a;width: 375px;border-radius: 3px;box-shadow: 2px 2px 5px #888;padding: 10px;}
.editorComt{min-height: 200px;outline: none;}
