@charset "UTF-8";

.headerWrap{height: 66px;width: 100%;background-color: #29324a;box-sizing: border-box;padding-top: 18px;text-align: center;}
.headerComt{height: 30px;min-width: 960px;width: 960px;overflow: hidden;display: inline-block;}
.logo{width: 180px;text-align: center;display: inline-block;height: 100%;box-sizing: border-box;border-right: 1px solid #424a5f;cursor: default;}
.navigator{display: inline-block;height: 100%;text-align: right;width: calc(100% - 340px);box-sizing: border-box;vertical-align: top;border-right: 1px solid #424a5f;}
.operating{width: 110px;text-align: center;display: inline-block;height: 100%;box-sizing: border-box;vertical-align: top;}
.logoIconWrap{height: 30px;width: 30px;border-radius: 50%;background-color: #1abcb0;display: inline-block;margin-right: 10px;color: #fff;vertical-align: top;line-height: 30px;font-weight: 600;font-style: normal;}
.logoComt{font-size: 20px;font-weight: 600;color: #1abcb0;vertical-align: super;line-height: 30px;display: inline-block;height: 30px;}
.navigator ul,
.navigator li{display: inline-block;list-style: none;display: inline-block;margin: 0;padding: 0;color: #76819e;cursor: pointer;}
.navigator .item{display: inline-block;padding: 0 15px;height: 30px;line-height: 30px;font-size: 14px;}
.navigator .item:hover{color: #1abcb0;}
.navigator .item.active{color: #1abcb0;}
.operating button{background: #1abcb0;border: none;height: 30px;line-height: 30px;padding: 0 15px;color: #fff;outline: none;border-radius: 15px;font-size: 12px;cursor: pointer;}
.operating button:hover{background-color: #19aba0;}
