@charset "UTF-8";
.init,
.init * {box-sizing: border-box;padding: 0;margin: 0;}
.init ul,
.init li{list-style: none;}
.selectVal{height: 46px;min-width: 240px;vertical-align: middle;display: inline-block;}
.selectDef{min-width: 240px;height: 46px;line-height: 44px;background-color: #fff;border: 1px solid #dfe7eb;display: inline-block;padding: 0 15px;color: #78909c;font-size: 13px;border-radius: 3px;position: relative;padding-right: 40px;cursor: default;}
.selectDef i{display: inline-block;width: 0;height: 0;border: 5px solid;border-color: #3a4563 transparent transparent transparent;position: absolute;right: 20px;top: 50%;margin-top: -5px;}
.selectDef:hover{background-color: #fbfeff;color: #3a4563;box-shadow: 0 4px 5px #ddd;}
.selectDefFocus{box-shadow: 0 2px 5px #ddd inset;background-color: #fbfeff;}
.posR{position: relative;}
.posOpt{position: absolute;width: 100%;background-color: #fff;border-radius: 3px;top: 8px;left: 0;padding: 5px;overflow-y: auto;overflow-x: hidden;max-height: 200px;overflow-y: auto;overflow-x: hidden;}

.arrowUp{display: inline-block;width: 0;height: 0;border: 4px solid;border-color: transparent transparent #fff transparent;position: absolute;top: 0;right: 20px;}
.parentWrap{height: 46px;}
