@charset "UTF-8";
.warpper{background-color: #29324a;padding: 50px;border-radius: 5px;width: 664px;margin: 0 auto;position: fixed;top: 50%;left: 50%;margin-left: -332px;box-sizing: border-box;z-index: 100}
.comt{background-color: #fff;border-radius: 5px;position: relative;}
.title{height: 64px;line-height: 64px;border-bottom: 1px solid #e3ebef;color: #29324a;text-align: center;font-family: avenir;font-weight: 600;}
.article{min-height: 50px;padding: 30px 100px;max-height: 500px;overflow-y: hidden;overflow-y: auto;}
.close{width: 16px;height: 16px;position: absolute;top: -20px;right: -20px;}
.close::before{content:"";width: 16px;height: 2px;background-color: #627787;display: inline-block;position: absolute;top: 50%;margin-top: -1px;left: 50%;margin-left: -8px;transform: rotate(45deg);}
.close::after{content:"";width: 16px;height: 2px;background-color: #627787;display: inline-block;position: absolute;top: 50%;margin-top: -1px;left: 50%;margin-left: -8px;transform: rotate(-45deg);}
.section{width: 100%;margin-top: 30px;}
.section:first-child{margin-top: 0;}
.hidden{visibility: hidden;}
