@charset "UTF-8";

.pageWrapper{display: inline-block;}
.pageItem{height: 40px;line-height: 36px;text-align: center;color: #77909d;display: inline-block;width: 52px;background-color: #fff;border: 1px solid #e3ebef;cursor: pointer;font-weight: 600;box-sizing: border-box;outline: none;}
.pageItem:first-child{width: 90px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;padding-left: 10px;}
.pageItem:last-of-type{width: 90px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;padding-right: 10px;}
.pageItem + .pageItem{border-left-color: transparent;}
.pageItem:hover{background-color: #1abcb0;border-color: #1abcb0;color: #fff;}
.pageItemActive:hover,
.pageItemActive{background-color: #29324a;border-color: #29324a;color: #fff;}
.hidden{display: none;}
.disabled:hover,
.disabled{background-color: #d8e1e5;color: #9bafba;cursor: not-allowed;border-color: #d8e1e5;}
.disabled + .disabled{border-left-color: #e3ebef;}

.prog{height: 15px;white: 100%;margin-top: 20px;border-radius: 7.5px;background-color: #29324a;display: flex;}
.progItem{height: 15px;flex: 1;background-color: #29324a;position: relative;}
.progItem:first-of-type{border-top-left-radius: 7.5px;border-bottom-left-radius: 7.5px;}
.progItem:last-of-type{border-top-right-radius: 7.5px;border-bottom-right-radius: 7.5px;}
.progItemActive{background-color: #1abcb0;}
.hoverPos{position: absolute;top: 25px;left: 0;visibility: hidden;}
.progItem:hover .hoverPos{visibility: visible;}
